{{> navbar}}
<div class="container">
<form id="create-blog">
  <div class='field'>
    <div class='field'>
      <label class='label'>Title</label>
      <div class='control'>
        <input
          class='input is-large'
          id = "title"
          type='text'
          value=''
          placeholder='e.g. How much lead is in your header?'
          required
        />
      </div>
    </div>
  </div>
    <div class='field'>
    <div class='field'>
      <label class='label'>Description</label>
      <div class='control'>
        <input
          class='input is-large'
          id = "description"
          type='text'
          value=''
          placeholder='e.g. In this article, we argue whether you should code in pen.'
          required
        />
      </div>
    </div>
  </div>
  <div class='field'>
    <label class='label' for='content'>Content</label>
    <div class='control'>
      <textarea
        class='textarea'
        name='message'
        id='content'
        required
      ></textarea>
    </div>
  </div>
  <div class='field'>
    <div class='buttons'>
      <button type="submit" class='button'>Create blog</button>
      <a href="/" class='button '>Cancel</a>
    </div>
  </div>
</form>
</div>
{{> footer}}
    <script type="module" src='/js/createBlog.js'></script>
            {{#if signedIn}}
    <script type="module" src='/js/logout.js'></script>
     {{/if}}
                <script type="module" src='/js/toggleNavbar.js'></script>
