/*  color pallette:
#5dacbd
#24527a
#a7bcd9
#e0ebeb

second batch

#323643
#606470
#93deff
#f7f7f7
*/

/* fonts */
<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');
</style>

:root {
    --decorator-outer-offset-top: 2px;
    --decorator-outer-offset-left: 2px;
    --decorator-border-width: 1px;
    --decorator-outer-dim: 12px;
    --decorator-border: 4px solid #f7f7f7;
  }
  
  body,
  .navbar-menu,
  .navbar-brand,
  nav,
  footer {
    background-color: #a7bcd9 !important;
  }
  
  .link a {
    text-decoration: underline;
    color: #485fc7 !important;
  }
  
  li {
    list-style: none;
    margin: 1.5rem 0rem;
    padding: 0;
  }
  
  .markdown h1 {
    font-size: 3rem;
  }
  
  .markdown h2 {
    font-size: 2.5rem;
  }
  
  .markdown h3 {
    font-size: 2rem;
  }
  
  .markdown h4 {
    font-size: 1.5rem;
  }
  
  .markdown h5 {
    font-size: 1.25rem;
  }
  
  .markdown h6 {
    font-size: 1rem;
  }
  
  hr {
    background-color: #24527a !important;
    height: 1px !important;
  }
  
  .title {
    color: #5dacbd;
    font: 24px;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
  }
  
  .is-not-hyperlink {
    text-decoration: none;
  }
  
  .work-sans {
    font-family: 'Roboto', sans-serif;
    color: #303546;
    font-size: 1rem;
  }
  
  .work-sans .is-sub-article {
    font-size: 0.5rem;
    font-family: 'Roboto', sans-serif;
    color: #303546;
  }
  
  .center-column {
    flex-direction: column;
  }
 
  .btn {
    background-color: var(--background-color);
    color: ;
    padding: 0.5em 1em;
    border: none;
    outline: none;
    position: relative;
       
  }
  
  .btn.btn-border-underline::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--border-size);
    background-color: var(--accent-color);
   
  }
  
   
  .message-header {
    background-color: #5dacbd;
    border: 1px solid #93deff;
    color: #323643;
    font-weight: 400;
  }
  
  .post-options .button {
    background-color: #93deff;
    border-color: #5dacbd;
    border-width: 1px;
  }
  
  .message-body {
    background-color: #f7f7f7;
    color: #323643;
     font-size: 14px;
    line-height: 1.5;
  }
  
  .bd-tw-avatar {
    flex-shrink: 0;
    height: 2.25rem;
    margin-right: 0.5em;
    width: 2.25rem;
  }
  
  .strong {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .dropdown-content {
    width: 150px;
  }
  
  @media screen and (max-width: 1160px) {
    .dropdown-menu {
      left: -111px;
    }
  }
  
  .message-body:disabled {
    background-color: #f7f7f7 !important;
    color: black;
    cursor: auto;
  }
  
  .hidden {
    display: none;
  }